<IfModule mod_deflate.c>
  AddOutputFilter DEFLATE application/javascript application/x-javascript text/css text/html text/xml text/plain text/richtext
  AddOutputFilter DEFLATE image/svg+xml image/x-icon
</IfModule>
# AddOutputFilterByType DEFLATE  text/x-component text/xsd text/xsl
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /


  # Nomal Use
  RewriteCond %{HTTP_HOST} ^(www\.)?nenuyouth\.com [NC]
  RewriteCond %{HTTP_REFERER} !(www\.)?nenuyouth.com/ [NC]
  RewriteRule ^index\.html$ - [L]

  RewriteCond %{HTTP_HOST} ^(www\.)?nenuyouth\.com [NC]
  RewriteCond %{HTTP_REFERER} !(www\.)?nenuyouth.com/ [NC]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]

  RewriteCond %{HTTP_HOST} ^(www\.)?mrhope\.top [NC]
  RewriteCond %{HTTP_REFERER} !(www\.)?mrhope.top/ [NC]
  RewriteRule ^index\.html$ /pc/index.html [L]

  RewriteCond %{HTTP_HOST} ^(www\.)?mrhope\.top [NC]
  RewriteCond %{HTTP_REFERER} !(www\.)?mrhope.top/ [NC]
  RewriteCond %{REQUEST_URI} !^/mp
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /pc/index.html [L]

  # DEV
  RewriteCond %{HTTP_HOST} ^(www\.)?nenu\.com [NC]
  RewriteCond %{HTTP_REFERER} !(www\.)?nenu.com/ [NC]
  RewriteRule ^index\.html$ - [L]

  # DEV
  RewriteCond %{HTTP_HOST} ^(www\.)?nenu\.com [NC]
  RewriteCond %{HTTP_REFERER} !(www\.)?nenu.com/ [NC]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]

  # DEV
  # RewriteCond %{HTTP_HOST} ^(www\.)?mrhope\.com [NC]
  # RewriteCond %{HTTP_REFERER} !(www\.)?mrhope.com/ [NC]
  # RewriteRule ^index\.html$ /pc/index.html [L]

  # DEV
  RewriteCond %{HTTP_HOST} ^(www\.)?mrhope\.com [NC]
  RewriteCond %{HTTP_REFERER} !(www\.)?mrhope.com/ [NC]
  RewriteCond %{REQUEST_URI} !^/mp
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /pc/index.html [L]

  # DEV
  RewriteCond %{HTTP_REFERER} !^$
  RewriteCond %{HTTP_REFERER} !(www\.)?nenuyouth.com/ [NC]
  RewriteCond %{HTTP_REFERER} !(www\.)?mrhope.top/ [NC]
  RewriteCond %{HTTP_REFERER} !(www\.)?nenu.com/ [NC]
  # RewriteCond %{HTTP_REFERER} !(www\.)?mrhope.com/ [NC]
  RewriteRule .*\.(gif|jpeg|jpg|png)$ /img/404pic.jpg
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(ico|png|jpeg|jpg|svg|ttf)$">
    Header Set Cache-Control "max-age=86400, public" 
  </FilesMatch>

  <FilesMatch "\.(js|css)$">
    Header Set Cache-Control "public"
  </FilesMatch>
</IfModule>

# <Files *>
# Options -Indexes
# </Files>