@import './animation';

body {
  min-height: 100%;
}

.Ctn {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* iconFont */

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* bootstrap */

.text-black {
  color: black;
}