
/* markdown主容器class */
.markdown-body
  min-height 200px
  color #34495e

#asideSlide
  position fixed
  height 100%
  top 0
  text-align right
  z-index 5

  #aside
    margin-left auto
    max-width 80vw
    height 100%

/* 侧边栏Mask */
#asideScreenMask
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  background-color rgba(127, 127, 127, 0.15)
  z-index 4

/* 侧边栏按钮 */
.asideSlideBtn
  position absolute
  width 36px
  top 20%
  left -36px
  padding 8px
  font-weight 600
  font-size 17px
  line-height 1.5
  color rgb(44, 62, 80)
  background-color #ffffff
  border-top-left-radius 8px
  border-bottom-left-radius 8px
  -webkit-box-shadow -2px 0 5px rgba(0, 0, 0, 0.15)
  box-shadow -2px 0 5px rgba(0, 0, 0, 0.15)

/* 目录浮块 */
#asideCtn
  position fixed
  top 4rem
  width 225px

  #aside
    border-radius 5px
    max-height calc(100vh - 255px)

    &::-webkit-scrollbar
      display none

/* 目录 */
#aside
  text-align left
  width auto
  background-color #ffffff
  overflow-y auto

/* 目录列表 */
.asideList
  padding 15px 0 0 15px
  max-height 100%

  &::-webkit-scrollbar
    display none

/* 滚动条去除 */
.asideHeading
  display block
  color rgb(44, 62, 80)
  word-wrap break-word

  &:visited
    text-decoration none

  &:hover
    text-decoration none
    color #000
    background-color rgba(127, 127, 127, 0.15)
    cursor pointer

.asideH1
  text-align center
  font-size 17px
  font-weight 600
  margin 0 auto
  padding 15px 10px
  border-bottom 0.5px solid #cacaca

.asideH2
  font-size 16.5px
  font-weight 700
  padding 2px 14px 4px 14px
  line-height 1.8
  color rgb(44, 62, 80)

.asideH3
  font-size 15px
  padding 6px 16px 6px 22px

.asideH2 + .asideH3
  padding-top 10px

.asideH4
  font-size 14px
  padding 3px 35px

.mdHeading
  cursor pointer

.mdIcon
  display none
  vertical-align middle
  position relative

h1 .mdIcon
  margin-left -33px
  margin-right 3px
  width 30px
  height 30px

h2 .mdIcon
  margin-left -24px
  margin-right 2px
  width 22px
  height 22px

h3 .mdIcon
  margin-left -22.5px
  margin-right 4.5px
  width 18px
  height 18px
  top -1px

h4 .mdIcon
  margin-left -21px
  margin-right 6px
  width 15px
  height 15px
  top -1.5px

.outbound
  color #aaa
  display inline-block
  vertical-align middle
  position relative
  top -1px